<div id="entry-form-demographic">
  <label>Zip Code: </label>
    <input type='text' id='zip-code' placeholder='Please enter your current zip code'></input></br>
  <label>Race: </label>
    <select id='race'>
      <option value="white">White</option>
      <option value="black">Black</option>
      <option value="latino">Latino</option>
      <option value="other">Other</option>
    </select></br>
  <label>Gender: </label>
    <select id='gender'>
      <option value="female">Female</option>
      <option value="male">Male</option>
    </select></br>
  <label>Education Level:</label>
    <select id='education-level'>
        <option value="no-highschool">No High School Diploma</option>
        <option value="highschool">High School Diploma</option>
        <option value="associate">Associate Degree (2 year institution)</option>
        <option value="bachelors">Bachelor's Degree</option>
        <option value="advanced">Advanced Degree</option>
    </select></br>
</div>
<div id="entry-form-financial">
  <label>Salary:</label>
    <input type='integer' id='salary' placeholder='Please put your annual income for 2013'></input></br>
  <label>Asset Value: </label>
    <input type='integer' id='assets' placeholder='Definiton of Asset Value'></input></br>
  <label>Inheritance Asset Value:</label>
    <input type='integer' id='inherited-assets' placeholder='Definition of Inheritance Asset Value'></input></br>
  </div>
  <div id="entry-form-guesses">
  <label>Wealth Evaluation : </label>
    <select id='self-wealth-descr'>
      <option value="no-highschool">No High School Diploma</option>
      <option value="highschool">High School Diploma</option>
      <option value="associate">Associate Degree (2 year institution)</option>
      <option value="bachelors">Bachelor's Degree</option>
      <option value="advanced">Advanced Degree</option>
    </select></br>
  <label>Happiness Evaluation: </label>
    <select id='self-happiness-descr'>
      <option value="" disabled selected>Select your option</option>
      <option value="very-unhappy">No High School Diploma</option>
      <option value="unhappy">High School Diploma</option>
      <option value="associate">Associate Degree (2 year institution)</option>
      <option value="bachelors">Bachelor's Degree</option>
      <option value="advanced">Advanced Degree</option>
    </select></br>
  <label>Income Rank:</label>
    <input type='integer' id='salary-guess' placeholder='Please guess where you think you rank'></input></br>
  <label>Wealth Rank:</label>
    <input type='integer' id='wealth-guess' placeholder='Please guess where you think you rank'></input>
  </div>
<button id='submit-entry'>Submit</button>

<div id="output">
  
</div>