<div id="input-output-container">
  <div id="input-container">
    <div class="large-3 columns side-column" id="left-column">
    </div>
    <div id="user-input" class="large-6 columns user-input-class">
      <form id="user-input-form" data-abide="ajax" method="post">
        <div id="financial-entry-container" class="form-input-container">
          <div class="row">
            <div class="small-9 columns salary-input-container">
              <label>
                <span data-tooltip class="has-tip" data-options="disable_for_touch:true" data-width="400" title="Please enter your annualized salary for the year of 2013. No personal information will be stored.">
                  <span class="entry-form-header-first-letter">2013</span> <span class="entry-form-header-first-letter">S</span><span class="entry-form-header-rest">ALARY</span> 
                </span>
              </label>
              <input type='text' id='salary-2013' placeholder='Salary in 2013' pattern="^\+?(0|[1-9]\d*)$" required/>
              <small class="error">A numeric value is required and must be an integer. Please do not include &nbsp;&nbsp;<span class="large-comma-dollar-sign">,</span> &nbsp;&nbsp;or &nbsp;&nbsp;<span class="large-comma-dollar-sign">$</span>. (For example, please enter <span class="large-comma-dollar-sign">$</span>10,000 as 10000)</small>
            </div>
            <div class="small-3 columns salary-guess-input-container">
              <label>
                <span data-tooltip class="has-tip" data-options="disable_for_touch:true" data-width="400" title="Please guess what percentile you think you belong to in comparison to the entire United States population over 15. Please enter a number between 1 and 99. For example, if you believe your income is higher than a quarter of the country, please enter 25. (Note: after your first submission you will not be able to enter a new guess)">
                  <span class="entry-form-header-first-letter">P</span><span class="entry-form-header-rest">ERCENTILE</span> <span class="entry-form-header-first-letter">G</span><span class="entry-form-header-rest">UESS</span>
                </span>
              </label>
              <input type='text' id='salary-guess-2013' placeholder='Guess your percentile' pattern="^[1-9][0-9]{0,1}$" required/>
              <small class="error">A number between 1 and 99 is required.</small>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns demographic-input-container">
              <label><span class="entry-form-header-first-letter">E</span><span class="entry-form-header-rest">DUCATION</span>
              <select class="dropdown" id='education-level' required>
                <option value="" disabled selected>Education Level</option>
                <option value="no-highschool">No High School Diploma</option>
                <option value="highschool">High School Diploma</option>
                <option value="associate">Associate Degree (2 year institution)</option>
                <option value="bachelors">Bachelor's Degree</option>
                <option value="advanced">Advanced Degree</option>
              </select>
              <small class="error">Please select an education level</small>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns demographic-input-container">
              <label><span class="entry-form-header-first-letter">A</span><span class="entry-form-header-rest">GE</span>
              <select class="dropdown" id='age' required>
                <option value="" disabled selected>Age</option>
                <option value="agerange1">15 to 24</option>
                <option value="agerange2">25 to 29</option>
                <option value="agerange3">30 to 34</option>
                <option value="agerange4">35 to 39</option>
                <option value="agerange5">40 to 44</option>
                <option value="agerange6">45 to 49</option>
                <option value="agerange7">50 to 54</option>
                <option value="agerange8">55 to 59</option>
                <option value="agerange9">60 to 64</option>
                <option value="agerange10">65 to 69</option>
                <option value="agerange11">70 to 74</option>
                <option value="agerange12">75 and over</option>
              </select>
              <small class="error">Please enter a valid age</small>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns demographic-input-container">
              <label><span class="entry-form-header-first-letter">G</span><span class="entry-form-header-rest">ENDER</span>
              <select class="dropdown" id='gender' required>
                <option value="" disabled selected>Gender</option>
                <option value="female">Female</option>
                <option value="male">Male</option>
              </select>
              <small class="error">Please select a gender</small>
            </div>
          </div>
        </div>
        <div id="demographic-entry-container" class="form-input-container">
          <div class="row">
            <div class="large-4 columns demographic-input-container">
              <label><span>G</span>EOGRAPHY</label>
              <select class="dropdown" id='geo-zone'>
                <option value="" disabled selected>Geography</option>
                <option value="northeast">Northeast</option>
                <option value="midwest">Midwest</option>
                <option value="south">South</option>
                <option value="west">West</option>
              </select>
              <small class="error">Please select a geographic zone</small>
            </div>
            <div class="large-4 columns demographic-input-container">
              <label><span>C</span>ITY &nbsp;<span>T</span>YPE</label>
              <select class="dropdown" id='city-type'>
                <option value="" disabled selected>City Type</option>
                <option value="rural">Rural</option>
                <option value="urban">Urban</option>
              </select>
              <small class="error">Please select a city type</small>
            </div>
            <div class="large-4 columns demographic-input-container">
              <label><span>R</span>ACE</label>
              <select class="dropdown" id='race'>
                <option class="default-select" value="" disabled selected>Race</option>
                <option value="white">White</option>
                <option value="black">Black</option>
                <option value="hispanic">Hispanic</option>
                <option value="other">Other</option>
              </select>
              <small class="error">Please select a race</small>
            </div>
          </div>            
        </div>
        <div id="form-button-wrapper" class="main-button-wrapper">
          <input class='submit-entry-button-large' type="submit" id="submit-entry" value="SUBMIT"/>
          <button id='back-button'><span data-tooltip class="has-tip" id="back-button-tool-tip" data-options="disable_for_touch:true" title="Clicking back will erase all enetered data!">BACK</span></button>
        </div>
      </form>
    </div>
    <div class="large-3 columns side-column" id="right-column">
    </div>
  </div>

  <div id="output-container" class="large-9 columns">
    <div id="data-output-container">
      <div id="data-output">
      </div>
    </div>
    <div class="row" id="social-media-links-container">
      <p>Share your results on: </p>
      <div id="tweet-wrapper" class='social-media-button-wrapper'>
        <button class='social-media-button' type="submit" id="tweet-button">TWITTER</button>
      </div>
      <div id="facebook-wrapper" class='social-media-button-wrapper'>
        <button class='social-media-button' type="submit" id="facebook-button">FACEBOOK</button>
      </div>
    </div>
  </div>
</div>