@import "bourbon";

#container {
  height: 2000px;
  width: 100%;
  padding: 10px 20px;
  color: rgba(203, 203, 203, 1.0000);
  overflow: scroll;
}

#entry-form-demographic {
  label {
    font-weight: 500;
    cursor: default;
    span {
      font-size: 1.05rem;
      font-weight: 500;
    }
  }
}

#back-button-tool-tip {
  color: white;
  cursor: pointer;
  font-weight: normal;
}

.entry-form-header-first-letter {
  font-weight: 500;
  font-size: 1.05rem;
}

.entry-form-header-rest {
  font-weight: 500;
}

.right-border-column {
  border-right: 1px solid rgba(203, 203, 203, 1.0000);
}

.entry-form-header-div {
  text-align: center;
}

.vertical-line-delimeter {
  width: 0.2em;
  height: 100px;
}

#header-container {
  text-align: center;
}

#paragraph-header {
  margin-top: -10px;
}

#submit-entry {
  margin: 20px;
  padding: 17px 45px;
  background-color: rgba(46, 84, 35, 1.0000);
}

#resubmit-entry {
  margin: 26px 10px 10px 10px;
  padding: 17px 23px;
  background-color: rgba(0, 86, 115, 1.0000);
  display: none;
  position: left;
}

#min-button-wrapper {
  width: 100%;
  padding: 5px;
}

#back-button {
  margin: 26px 10px 10px 10px;
  padding: 17px 18px;
  background-color: rgba(115, 15, 22, 1.0000);
  display: none;
  float: right;
}

.entry-form-header {
    font-size: 1.5rem;
    span {
      font-size: 1.9rem;
    }
}

.entry-form-header-min {
    font-size: 1.0rem;
    margin-bottom: -5px;
    span {
      font-size: 1.2rem;
    }
}

.form-column-min {
  input {
    margin: 2px 0;
    height: 30px;
  }
  label {
    margin: 5px 0;
  }
  select {
    margin: 2px 0;
    height: 30px;
    padding: .25rem;
  }
}

#bottom-bar {
  width: 100%;
  background-color: rgba(33, 33, 33, 1.0000);
  color: rgba(245, 245, 245, 1.0000);
  bottom: 0;
  position: fixed;
  height: 25px;
  ul {
    text-align: center;
    margin: 0;
    li {
      padding-left: 10%;
      padding-right: 10%;
      display: inline-block;
    }
  }
}

.bottom-bar-link {
  color: rgba(180, 180, 180, 1.0000);
}

@media screen and (max-width:705px) {
  #bottom-bar {
    ul {
      li {
        display: block;
      }
    }
  }
}

#button-wrapper {
  text-align: center;
  width: 100%;
}

.dropdown {
  color: rgba(0, 0, 0, 0.4);
  height: 37px;
  font-size: 14px;
  font-family: "Alegreya Sans";
  weight: 400;
}

.guess-min {
  text-align: center;
}

.percentile-guess-container {
  text-align: center;
  p {
    color: rgba(50, 50, 97, 1.0000);
    font-weight: 700;
    margin: -10px 0 4px 0px;
    font-size: 1.5rem;
  }
}

#entry-form-guesses-static {
  display: none;
  margin-bottom: -15px;
}

#inheritance-calculator-link {
  color: rgba(0, 140, 186, 1.0000);
  font-size: .75rem;
  cursor: pointer;
}

#inheritance-calculator-container {
  text-align: center;
  width: 100%;
  display: none;
}

.inheritance-calculator {
  background-color: rgba(245, 245, 245, 1.0000);
  height: 150px;
  display: inline-block;
  width: 50%;
  margin-bottom: 25px;
}

#inheritance-asset-label {
  display: inline-block;
}

#output {
  background-color: rgba(255, 255, 255, 1.0);
  height: 550px;
  background: black;
  display: none;
  color: white;
  margin-bottom: 25px;
}

