@import "bourbon";

#container {
  height: 2000px;
  width: 100%;
  padding: 10px 20px;
  color: rgba(203, 203, 203, 1.0000);
  overflow: scroll;
}

#entry-form-demographic {
  label {
    font-weight: 500;
    cursor: default;
    span {
      font-size: 1.05rem;
      font-weight: 500;
    }
  }
}

.side-column {
  height: 600px;
}

#user-input-form {
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0;
  }
}

.input-container-min {
  padding-right: 5px;
}

.demographic-input-container {
  padding: 5px;
}

.happiness-input-container {
  padding: 5px;
}

.happiness-input-container-min {
  display: none;
}

.salary-input-container {
  padding: 22px 5px 5px 5px;
}

.salary-input-container-min {
  padding: 5px;
}

.salary-guess-input-container {
  padding: 22px 5px 5px 5px;
}

.salary-guess-input-container-min {
  padding: 5px;
}

#back-button-tool-tip {
  color: white;
  cursor: pointer;
  font-weight: normal;
}

.entry-form-header-first-letter {
  font-weight: 500;
  font-size: 1.05rem;
}

.entry-form-header-rest {
  font-weight: 500;
}

.entry-form-header-div {
  text-align: center;
}

.vertical-line-delimeter {
  width: 0.2em;
  height: 100px;
}

#header-container {
  text-align: center;
  background-color: rgba(13, 60, 34, 1.0000);
  h1 {
    color: rgba(230, 230, 230, 1.000);
    display: inline;
  }
  p {
    color: rgba(210, 210, 210, 1.000);
  }
}

#paragraph-header {
  margin-top: -10px;
}

#submit-entry {
  color: white;
  margin: 20px;
  padding: 17px 45px;
  font-family: "Alegreya Sans";
  font-size: 1.1rem;
  background-color: rgba(13, 60, 34, 1.0000);
}

#resubmit-entry {
  margin: 1px;
  padding: 20px 46px;
  background-color: rgba(0, 86, 115, 1.0000);
  display: none;
  position: left;
}

#min-button-wrapper {
  width: 100%;
  padding: 5px;
  margin-top: -13px;
}

#back-button {
  margin: 1px;
  padding: 20px 30px;
  background-color: rgba(115, 15, 22, 1.0000);
  display: none;
  float: right;
}

.entry-form-header {
    font-size: 1.5rem;
    span {
      font-size: 1.9rem;
    }
}

.entry-form-header-min {
    font-size: 1.0rem;
    margin-bottom: -5px;
    span {
      font-size: 1.2rem;
    }
}

.form-column-min {
  input {
    margin: 2px 0;
    height: 30px;
    padding: 2px 2px 2px 5px;
  }
  label {
    margin: 5px 0;
  }
  select {
    margin: 2px 0;
    height: 30px;
    padding: .25rem;
  }
}

#bottom-bar {
  width: 100%;
  background-color: rgba(33, 33, 33, 1.0000);
  color: rgba(245, 245, 245, 1.0000);
  bottom: 0;
  position: fixed;
  height: 25px;
  ul {
    text-align: center;
    margin: 0;
    li {
      padding-left: 10%;
      padding-right: 10%;
      display: inline-block;
    }
  }
}

.bottom-bar-link {
  color: rgba(180, 180, 180, 1.0000);
}

@media screen and (max-width:705px) {
  #bottom-bar {
    ul {
      li {
        display: block;
      }
    }
  }
}

#button-wrapper {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.dropdown {
  color: rgba(0, 0, 0, 0.4);
  height: 37px;
  font-size: 14px;
  font-family: "Alegreya Sans";
  weight: 400;
  color: rgba(0, 0, 0, 1.0);
}

.guess-min {
  text-align: center;
}

.percentile-guess-container {
  text-align: center;
  p {
    color: rgba(50, 50, 97, 1.0000);
    font-weight: 700;
    margin: -10px 0 4px 0px;
    font-size: 1.5rem;
  }
}

.disabled-input-tooltip {
  color: rgba(79, 5, 9, 1.0000);
}

.error {
  font-family: "Alegreya Sans";
  font-weight: 300;
  font-size: 1.0rem;
}


#output-container {
  height: 636px;
  border: 1px solid rgba(0, 0, 0, 1.0000);
  display: none;
  padding: 5px;
  color: rgba(0, 0, 0, 1.000);
  margin-bottom: 25px;
}

#data-output {
  background-color: rgba(12, 72, 73, 1.000);
}

.granular-percentile-title {
  display: inline;
}

.large-comma-dollar-sign {
  font-size: 1.1rem;
}

#output-header { 
  font-size: 2.7rem;
  color: rgba(172, 47, 9, 1.000);

}

#output-header-container {
  text-align: center;
  margin-top: 10px;
}

#social-media-links-container {
  text-align: center;
}


.social-media-button-wrapper {
  display: inline;
  margin: 0px 5px;
}

.social-media-button {
  height: 50px;
  width: 125px;
  padding: 15px;
  display: inline-block;
  a {
    color: rgba(255, 255, 255, 1.0000);
  }
}

#facebook-button {
  background-color: rgba(59, 89, 152, 1.0000);
}

#tweet-button {
  background-color: rgba(64, 153, 255, 1.0000);
}

.form-input-container {
  border: 1px solid rgba(13, 60, 34, 1.0000);
  padding: 5px 10px 10px 10px;
}

#demographic-entry-container {
  margin-top: 10px; 
}

#main-output-container {
  padding: 10px;
  margin-botom: 25px;
  h3 {
    color: rgba(40, 149, 149, 1.000);
  }
  p {
    margin: 5px 2px;
    font-weight: 500;
    color: rgba(203, 203, 203, 1.0000);
  }
  span {
    font-weight: 700;
    color: rgba(235, 235, 235, 1.0000);
  }
}

#main-demographics-container {
  padding: 10px;
  margin-botom: 25px;
  h3 {
    color: rgba(40, 149, 149, 1.000)
  }
  p {
    margin: 5px 2px;
    font-weight: 500;
    color: rgba(203, 203, 203, 1.0000);
  } 
  span {
    font-weight: 700;
    color: rgba(235, 235, 235, 1.0000);
  }
}

#gender-specific-container {
  padding: 10px;
  margin-botom: 25px;
  h3 {
    color: rgba(40, 149, 149, 1.000)
  }
  p {
    margin: 5px 2px;
    font-weight: 500;
    color: rgba(203, 203, 203, 1.0000);
  } 
  span {
    font-weight: 700;
    color: rgba(235, 235, 235, 1.0000);
  }
}

#race-specific-container {
  padding: 10px;
  margin-botom: 25px;
  h3 {
    color: rgba(40, 149, 149, 1.000)
  }
  p {
    margin: 5px 2px;
    font-weight: 500;
    color: rgba(203, 203, 203, 1.0000);
  } 
  span {
    font-weight: 700;
    color: rgba(235, 235, 235, 1.0000);
  }
}

#gender-race-specific-container {
  padding: 10px;
  margin-botom: 25px;
  h3 {
    color: rgba(40, 149, 149, 1.000)
  }
  p {
    margin: 5px 2px;
    font-weight: 500;
    color: rgba(203, 203, 203, 1.0000);
  } 
  span {
    font-weight: 700;
    color: rgba(235, 235, 235, 1.0000);
  }
}

.year-label-container {
  text-align: center;
}

.year-label {
  margin: 0px 0px -10px 0px;
}

#2000-year-label {
  margin-top: 15px;
}

#2013-year-label {
  margin-top: -5px;
}


