<!DOCTYPE html>
<html>
<head>
  <title>Wealth in America</title>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,700,100italic,400italic' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
